<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>366921625988-3qshglm9rjatersipji6b7rj1a3f27ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366921625988-3qshglm9rjatersipji6b7rj1a3f27ku</string>
	<key>API_KEY</key>
	<string>AIzaSyAbvPCcqKIa9_0T-eZCz4303Hb3i6TCPZU</string>
	<key>GCM_SENDER_ID</key>
	<string>366921625988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wewashOnline</string>
	<key>PROJECT_ID</key>
	<string>wewash-c442c</string>
	<key>STORAGE_BUCKET</key>
	<string>wewash-c442c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366921625988:ios:f076d37b80b6a3cc</string>
	<key>DATABASE_URL</key>
	<string>https://wewash-c442c.firebaseio.com</string>
</dict>
</plist>